<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>
<body>
    <h1>Edit Campground</h1>

    <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST">
        <section>
            <label for="name">Product Title</label>
            <input type="text" 
                    name="title" 
                    placeholder="title" 
                    id="title"
                    value="<%= campground.title %>">
        </section>
        <section>
            <label for="price">Location</label>
            <input type="text" 
                    name="location" 
                    placeholder="location" 
                    id="location"
                    value="<%= campground.location %>">
                    
        </section>

        <button>Submit</button>
    </form> 
</body>
</html>