<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Campground</title>
</head>
<body>
    <h1>Create New Campground</h1>

    <form action="/campgrounds" method="post">
        <section>
            <label for="name">Product title</label>
            <input type="text" 
                    name="title" 
                    placeholder="title" 
                    id="title">
        </section>
        <!-- <section>
            <label for="price">Price</label>
            <input type="number" 
                    name="price" 
                    placeholder="price" 
                    id="price">
        </section>
        <section>
            <label for="price">Description</label>
            <input type="text" 
                    name="description" 
                    placeholder="description" 
                    id="description">
        </section> -->
        <section>
            <label for="price">Location</label>
            <input type="text" 
                    name="location" 
                    placeholder="location" 
                    id="location">
        </section>
        <button>Submit</button>
    </form>
</body>
</html>